body {
    font-family: sans-serif;
}

h1 {
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
}

div.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

div.row {
    border: 2px dashed slateblue;
    padding: 5px;
    min-height: 150px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform-origin: bottom right;
}

div.row:hover {
    background-color: skyblue;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0, 2);
    transform: translate(0px, 20px) rotate(10deg);
}

div.row.flip:hover {
    transform: rotateX(-180deg) rotateY(-180deg);
    transform-origin: center;
}

div.row.skew:hover {
    transform: skew(2deg);
    border: 2px dashed plum;
}

div.row img {
    transition: all 1.5 ease-in-out;
}

div.row:hover img {
    transform: scale(1.1);
}
