.bck{
    background-color:  slategrey;
}
.sl1{
    border: 2px solid gainsboro;
}
img.sl1{
    border: 4px dashed blue;
}
.c{
    margin-top: 10px;
}
div,h1{
    font-family:'Times New Roman';
}
p{
    color: gray;
}